volumes:
  el_data:
    name: ethereum_mainnet_full_staking_el_data
  cl_data:
    name: ethereum_mainnet_full_staking_cl_data
  cl_validator_family_data:
    name: ethereum_mainnet_full_staking_cl_validator_family_data
  cl_validator_estelle_data:
    name: ethereum_mainnet_full_staking_cl_validator_estelle_data
  prometheus_data:
    name: ethereum_mainnet_full_staking_prometheus_data

networks:
  shared_network:
    external: true

services:
  ethereum-mainnet-full-staking-el-geth:
    build:
      context: ../../../services/geth
      dockerfile: Dockerfile
      args:
        - GO_VERSION=1.24.0
        - VERSION=v1.16.7 # go-ethereum version
        - COMMIT=b9f3a3d964ed3d31e710ec7dd66da9181477ecb2
    container_name: ethereum-mainnet-full-staking-el-geth
    command: [ "/app/entrypoint.sh" ]
    restart: unless-stopped
    volumes:
      - el_data:/data
      - ./secrets/jwtsecret:/config/jwtsecret
    ports:
      - "${EL_RPC_PORT}:${EL_RPC_PORT}" # json rpc
      - "${EL_WS_PORT}:${EL_WS_PORT}" # ws rpc
      - "${EL_METRICS_PORT}:${EL_METRICS_PORT}" # prometheus at host 7001
      - "${EL_P2P_PORT}:${EL_P2P_PORT}" # p2p
      - "${EL_P2P_PORT}:${EL_P2P_PORT}/udp" # p2p udp
    networks:
      - shared_network
    env_file:
      - .env

  ethereum-mainnet-full-staking-cl-prysm-beacon-node:
    build:
      context: ../../../services/prysm
      dockerfile: Dockerfile
      args:
        - GO_VERSION=1.25.1
        - VERSION=v7.1.0
        - COMMIT=7a70abbd15c18b1767564695be68c0c106eeae5c
    container_name: ethereum-mainnet-full-staking-cl-prysm-beacon-node
    command: [ "/app/beacon-node-entrypoint.sh" ]
    restart: unless-stopped
    volumes:
      - cl_data:/data
      - ./secrets/jwtsecret:/config/jwtsecret
    ports:
      - "${BEACON_NODE_METRICS_PORT}:${BEACON_NODE_METRICS_PORT}" # prometheus at host
      - "${BEACON_NODE_P2P_PORT}:${BEACON_NODE_P2P_PORT}" # p2p
      - "${BEACON_NODE_P2P_PORT}:${BEACON_NODE_P2P_PORT}/udp" # p2p
      - "${BEACON_NODE_GRPC_PORT}:${BEACON_NODE_GRPC_PORT}" # grpc gateway port
      - "${BEACON_NODE_RPC_PORT}:${BEACON_NODE_RPC_PORT}" # rpc port
    networks:
      - shared_network
    env_file:
      - .env

  # =====================================================================
  # family validator
  # =====================================================================
  ethereum-mainnet-full-staking-cl-prysm-validator-family:
    build:
      context: ../../../services/prysm
      dockerfile: Dockerfile
      args:
        - GO_VERSION=1.25.1
        - VERSION=v7.1.0
        - COMMIT=7a70abbd15c18b1767564695be68c0c106eeae5c
    container_name: ethereum-mainnet-full-staking-cl-prysm-validator-family
    command: [ "/app/validator-entrypoint.sh" ]
    restart: unless-stopped
    depends_on:
      ethereum-mainnet-full-staking-cl-prysm-validator-account-import-family:
        condition: service_completed_successfully
    volumes:
      - cl_validator_family_data:/data
      - ./keys/family/validator_keys:/app/validator_keys # set your own key path
      - ./keys/family/secrets/wallet-pwd:/config/wallet-pwd # remember to set your passwd
    ports:
      - "7020:7020"
    networks:
      - shared_network
    environment:
      - VALIDATOR_SUGGESTED_FEE_RECIPIENT=0xf0204D1b42a90e4676ebb7d976eA980d85B922cA
      - VALIDATOR_METRICS_PORT=7020 # same as ports above
    env_file:
      - .env

  # importing accounts for validator
  ethereum-mainnet-full-staking-cl-prysm-validator-account-import-family:
    build:
      context: ../../../services/prysm
      dockerfile: Dockerfile
      args:
        - GO_VERSION=1.25.1
        - VERSION=v7.1.0
        - COMMIT=7a70abbd15c18b1767564695be68c0c106eeae5c
    container_name: ethereum-mainnet-full-staking-cl-prysm-validator-account-import-family
    command: [ "/app/validator-import-accounts.sh" ]
    volumes:
      - cl_validator_family_data:/data
      - ./keys/family/validator_keys:/config/validator_keys
      - ./keys/family/secrets/wallet-pwd:/config/wallet-pwd # remember to set your passwd
      - ./keys/family/secrets/keystore-pwd:/config/keystore-pwd # remember to set your passwd
    networks:
      - shared_network
    env_file:
      - .env
  # =====================================================================
  # family validator - end
  # =====================================================================

  # =====================================================================
  # estelle validator
  # =====================================================================
  # ethereum-mainnet-full-staking-cl-prysm-validator-estelle:
  #   build:
  #     context: ../../../services/prysm
  #     dockerfile: Dockerfile
  #     args:
  #       - GO_VERSION=1.25.1
  #       - VERSION=v7.1.0
  #       - COMMIT=7794a77ae61bdceb70a019b9bb1f58651020eae9
  #   container_name: ethereum-mainnet-full-staking-cl-prysm-validator-estelle
  #   command: [ "/app/validator-entrypoint.sh" ]
  #   restart: unless-stopped
  #   depends_on:
  #     ethereum-mainnet-full-staking-cl-prysm-validator-account-import-estelle:
  #       condition: service_completed_successfully
  #   volumes:
  #     - cl_validator_estelle_data:/data
  #     - ./keys/estelle/validator_keys:/app/validator_keys # set your own key path
  #     - ./keys/estelle/secrets/wallet-pwd:/config/wallet-pwd # remember to set your passwd
  #   ports:
  #     - "7021:7021"
  #   networks:
  #     - shared_network
  #   environment:
  #     - VALIDATOR_SUGGESTED_FEE_RECIPIENT=0xd6C3FDfF4C7E6EC4cB100a10fbDf3e718BaBa423
  #     - VALIDATOR_METRICS_PORT=7021 # same as ports above
  #   env_file:
  #     - .env

  # # importing accounts for validator
  # ethereum-mainnet-full-staking-cl-prysm-validator-account-import-estelle:
  #   build:
  #     context: ../../../services/prysm
  #     dockerfile: Dockerfile
  #     args:
  #       - GO_VERSION=1.25.1
  #       - VERSION=v7.1.0
  #       - COMMIT=7794a77ae61bdceb70a019b9bb1f58651020eae9
  #   container_name: ethereum-mainnet-full-staking-cl-prysm-validator-account-import-estelle
  #   command: [ "/app/validator-import-accounts.sh" ]
  #   volumes:
  #     - cl_validator_estelle_data:/data
  #     - ./keys/estelle/validator_keys:/config/validator_keys
  #     - ./keys/estelle/secrets/wallet-pwd:/config/wallet-pwd # remember to set your passwd
  #     - ./keys/estelle/secrets/keystore-pwd:/config/keystore-pwd # remember to set your passwd
  #   networks:
  #     - shared_network
  #   env_file:
  #     - .env
  # =====================================================================
  # estelle validator
  # =====================================================================

  ethereum-mainnet-full-staking-mev-boost:
    image: flashbots/mev-boost:1.10.1
    container_name: ethereum-mainnet-full-staking-mev-boost
    command:
      - "-$NETWORK"
      - "-addr=0.0.0.0:$MEV_BOOST_PORT"
      - "-relay-check"
      - "-relay"
      - "https://0xac6e77dfe25ecd6110b8e780608cce0dab71fdd5ebea22a16c0205200f2f8e2e3ad3b71d3499c54ad14d6c21b41a37ae@boost-relay.flashbots.net"
      - "-relay"
      - "https://0x8c4ed5e24fe5c6ae21018437bde147693f68cda427cd1122cf20819c30eda7ed74f72dece09bb313f2a1855595ab677d@global.titanrelay.xyz"
    restart: unless-stopped
    ports:
      - "${MEV_BOOST_PORT}:${MEV_BOOST_PORT}"
    networks:
      - shared_network
    env_file:
      - .env

  ethereum-mainnet-full-staking-prometheus:
    build:
      context: ../../../services/prometheus
      dockerfile: Dockerfile
    container_name: ethereum-mainnet-full-staking-prometheus
    command: [ "/app/prometheus-entrypoint.sh" ]
    restart: unless-stopped
    volumes:
      - prometheus_data:/data
      - ./prometheus-template.yml:/app/prometheus-template.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "${PROMETHEUS_PORT}:${PROMETHEUS_PORT}"
    networks:
      - shared_network
    env_file:
      - .env
